<form #f=ngForm (ngSubmit)="submit(f)">
    <div class="form-group">
        <label for="firstName" [ngStyle]="myStyles">First Name</label>
        <input required minlength="3" maxlength="10" pattern="" ngModel name="firstNa" #firstNamee="ngModel" (change)="log(firstNamee)"
            id="firstName" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstNamee.touched && !firstNamee.valid">
            <div *ngIf="firstNamee.errors.required">First Name is required.</div>
            <div *ngIf="firstNamee.errors.minlength">First Name should be minimum 3 characters.</div>
            <div *ngIf="firstNamee.errors.maxlength">First Name should be maximum 10 characters.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="comment" [ngStyle]="myStyles">
            Comment
        </label>
        <textarea required ngModel name="comment" #commentt="ngModel" id="comment" cols="30" rows="10" class="form-control">

        </textarea>
        <div class="alert alert-danger" *ngIf="commentt.touched && !commentt.valid">Comment is required.</div>
    </div>
    <button class="btn btn-danger" (click)="f.reset()">Reset</button>
    <span>{{' '}}</span>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form>